@using Mars.PerfectFit.Presentation.Web.Helpers
@using Mars.PerfectFit.Presentation.Web.Security
@using Mars.PerfectFit.Presentation.Web.Controllers
@using Mars.PerfectFit.Presentation.Web.ViewModels
@model ForgotPasswordViewModel
    @{ 
        var EmailError = @LocalizationHelper.GetDictionaryItem("Forms - Validation - Required - Email");
    }


@using (Html.BeginUmbracoForm<AccountController>("ForgotPassword", null, new Dictionary<string, object> { { "class", "reset-password-form" } }))
{
    if (!Authentication.isLogin()) { 
    <p>@LocalizationHelper.GetDictionaryItem("Forgot password - Text - Subtitle - Reset Password")</p>
    }else
    {
        <p>@LocalizationHelper.GetDictionaryItem("Forgot password - Text - Subtitle - Change Password")</p>
    }

    <div class="message"></div>

    @Html.TextBoxFor(x => x.Email, new Dictionary<string, object> { { "name", "email" }, { "type", "email" }, { "placeholder", "E-mail" }, { "id", "reset-password-form-email" }, { "data-parsley-required", "" }, { "data-parsley-error-message", @EmailError} ,{ "aria-label", "Email" } })
    <div class="loader"> <img src="~/public/images/common/ajax-loader-2.gif" alt="loader"></div>
    
    <button class="btn btn--block btn--form js-email-forgot" type="submit">
        <span>@LocalizationHelper.GetDictionaryItem("Forgot - Password - Enter - Button - Text")</span>
    </button>
    
    if(!Authentication.isLogin())
    {
        <span class="return-to-login"><a class="link log-in-link" href="#">@LocalizationHelper.GetDictionaryItem("Forgot - Password - Return To Login - Text")</a></span>
    }



}
