@using Mars.PerfectFit.Presentation.Web.Controllers
@using Mars.PerfectFit.Presentation.Web.Helpers
@using Mars.PerfectFit.Presentation.Web.ViewModels
@model ResetPasswordViewModel

@using (Html.BeginUmbracoForm<AccountController>("ResetPassword", null, new Dictionary<string, object> { { "class", "reset-password-form" } }))
{

    <div class="row">
        <div class="small-12 large-6 columns">
            <p>@LocalizationHelper.GetDictionaryItem("Reset - Password - Description - Text")</p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-6 columns">
            @Html.TextBoxFor(x => x.Password, new Dictionary<string, object> { {"class","js-check-password" }, {"placeholder", @LocalizationHelper.GetDictionaryItem("Reset - Password - Placeholder - NewPassword").ToString() }, { "data-parsley-required-message", @LocalizationHelper.GetDictionaryItem("Reset - Password - Error - Required") }, { "data-parsley-minlength", "8" }, { "data-parsley-minlength-message", @LocalizationHelper.GetDictionaryItem("Reset - Password - Error - Length - Rule") }, { "name", "password" }, {"data-parsley-pattern", "^(?=.*[A-Za-z])(?=.*\\d)(?=.*[$@$!%*#?&amp;])[A-Za-z\\d$@$!%*#?&amp;]{8,}$" }, { "data-parsley-pattern-message", @LocalizationHelper.GetDictionaryItem("Reset - Password - Error - Special - Character - Rule") }, { "id", "password" }, {"type","password"}, { "required", "required" } })
         
            <ul class="field-requirements">
                <li data-requirement="length-rule">@LocalizationHelper.GetDictionaryItem("Reset - Password - Error - Length - Rule")</li>
                <li data-requirement="uppercase-rule">@LocalizationHelper.GetDictionaryItem("Reset - Password - Error -  uppercase - letter")</li>
                <li data-requirement="lowercase-rule">@LocalizationHelper.GetDictionaryItem("Reset - Password - Error - Lowercase - Rule")</li>
                <li data-requirement="number-rule">@LocalizationHelper.GetDictionaryItem("Reset - Password - Error - Number - Rule")</li>
                <li data-requirement="special-character-rule">@LocalizationHelper.GetDictionaryItem("Reset - Password - Error - Special - Character - Rule")</li>
            </ul>
        </div>
        <div class="small-12 large-6 columns">
           <!-- <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm new password" required="required" data-parsley-equalto="#password" data-parsley-required-message="Please confirm your password" data-parsley-equalto-message="Password does not match the confirm password" />-->
            @Html.TextBoxFor(x => x.ConfirmPassword, new Dictionary<string, object> { { "name", "confirm-password"}, { "type", "password" } , { "id", "confirm-password" }, { "placeholder", @LocalizationHelper.GetDictionaryItem("Reset - Password - Confirm").ToString() }, { "required", "required" }, { "data-parsley-equalto", "#password" }, { "data-parsley-required-message", @LocalizationHelper.GetDictionaryItem("Reset - Password - Error - Required - Confirm") }, { "data-parsley-equalto-message", @LocalizationHelper.GetDictionaryItem("Reset - Password - Error - Dont - Match - confirm") } })
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-6 columns">
            <button class="btn btn--block btn--form" type="submit">
                <span>@LocalizationHelper.GetDictionaryItem("Reset - Password - Text - Button")</span>
            </button>
        </div>
    </div>

}
