@using Mars.PerfectFit.Presentation.Web.Helpers
@model Mars.PerfectFit.Presentation.Web.ViewModels.MoneyBackGuaranteeViewModel
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "DefaultLayout.cshtml";
}
<div class="page-container">
    <div class="banner">
        <picture>
            <source media="(max-width: 1023px)" srcset="@Html.GetMediaItem(Model.ImageBanner)" />
            <img class="img--responsive" src="@Html.GetMediaItem(Model.ImageBanner)" width="1280" height="696" alt="Banner" />
        </picture>
    </div>
    <div class="section-container overlapping-section">
        <header class="overlapping-section__header">
            <h1><span class="bold">@Model.TitleBold</span>@Model.SimpleTitle</h1>
            <div class="overlapping-section__introduction">
                <p class="overlapping-section__paragraph">@Model.Description</p>
            </div>
            <div class="overlapping-section__button">
                <a class="btn btn--link register-intent-mbg" href="/@ViewBag.Register">
                    <span>@LocalizationHelper.GetDictionaryItem("Money - Back -Guarantee - Register - Button - Text")</span>
                </a>
            </div>
        </header>
        <div class="section-content">
            <p>
                @Model.LegalText
            </p>
        </div>
    </div>
</div>