@using Mars.PerfectFit.Presentation.Web.ViewModels
@using Mars.PerfectFit.Presentation.Web.Helpers
@model Mars.PerfectFit.Presentation.Web.ViewModels.ResetPasswordViewModel
@{
	Layout = "DefaultLayout.cshtml";
}

<div class="page-container">
    <div class="banner">
        <picture>
            <source media="(max-width: 1023px)" srcset="@Model.Banner.Path" />
            <img class="img--responsive" src="@Model.Banner.Path" width="1280" height="696" alt="Hello" />
        </picture>
    </div>
    <div class="section-container overlapping-section">
        <header class="overlapping-section__header">
            <h1>@LocalizationHelper.GetDictionaryItem("Login - Form - Title") <span class="perfectfit-plus-title"><img src="@Model.SiteLogo.Path" alt="@Model.SiteLogo.Alt" width="313" height="64"><i class="icon-plus"></i></span></h1>
            <div class="overlapping-section__introduction">
                <p class="overlapping-section__paragraph overlapping-section__paragraph--bold">@LocalizationHelper.GetDictionaryItem("Reset - Password - Form - SubTitle")</p>
            </div>
        </header>
        <div class="section-content">
           @{
               Html.RenderPartial("~/Views/Partials/_ResetPasswordForm.cshtml", new ResetPasswordViewModel());
        }
        </div>
    </div>
</div>
